/*
//////////////////
// Main content //
//////////////////
*/

/*
Default text color
and background color
*/
.md-main {
  color: #F5F5F5 !important;
  background-color: #212121 !important;
}

/*
Main headlines
*/
.md-main h1 {
  color: white !important;
}

/*
Tables
*/
tbody {
  background-color: rgba(255, 255, 255, 0.05) !important;
}

.md-typeset table:not([class]) {
    display: inline-block;
    max-width: 100%;
    overflow: auto;
    font-size: .64rem;
    background:  rgba(255, 255, 255, 0.05) !important;
    border-radius: .1rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,.05), 0 0 0.05rem rgba(0,0,0,.1);
    touch-action: auto;
}

.md-typeset table:not([class]) th {
  background-color: var(--md-default-bg-color--lightest);
}

.md-typeset table:not([class]) td {
  background-color: var(--md-default-fg-color--lightest);;
}


.md-typeset table:not([class]) tr:hover {
  box-shadow: none !important;
  background-color: rgba(255, 255, 255, 0.04) !important;
}

/*
Blockquotes
*/
.md-typeset blockquote {
  color: rgba(255,255,255,0.8) !important;
  border-color: rgba(255,255,255,0.54) !important;
}

/*
Footnotes
*/
.md-typeset .footnote {
  color: #F5F5F5 !important;
}

.md-typeset .footnote-ref:before {
  border-color: #F5F5F5 !important;
}

.md-typeset .footnote li:target {
    color: goldenrod;
}

/*
////////////////////
// Navigation bar //
////////////////////
*/

/*
Left and right toc scrollbar
*/
.md-sidebar__scrollwrap::-webkit-scrollbar-thumb {
  background-color: #E0E0E0 !important;
}



.md-nav {
  color: #F5F5F5 !important;
  background-color: #212121 !important;
}

/*
Arrow Left Icon
*/
html .md-nav--primary .md-nav__title:before {
  color: #FAFAFA !important;
}

.md-nav__title {
  color: rgba(255,255,255,1) !important;
  background-color: #212121 !important;
}

/*
Arrow Right Icon
*/
.md-nav--primary .md-nav__link:after {
  color: #FAFAFA !important;
}

.md-nav__list {
  color: rgba(255,255,255,1) !important;
  background-color: #212121 !important;
}

.md-nav__item {
  color: rgba(255,255,255,1) !important;
  background-color: #212121 !important;
}

.md-nav__link[data-md-state=blur] {
  color: rgba(255,255,255,0.54) !important;
}

/*
////////////
// Search //
////////////
*/

/*
scroll bar

attention:
background is scroll handle color!
*/
.md-search__scrollwrap::-webkit-scrollbar-thumb {
  background-color: #E0E0E0 !important;
}
/*
scroll bar background color
*/
.md-search__scrollwrap {
  background-color: #424242 !important;
}

/*
Icon color
*/
.md-search-result__article--document:before {
  color: #EEEEEE !important;
}

/*
headline color and
result list background
*/
.md-search-result__list {
  color: #EEEEEE !important;
  background-color: #212121 !important;
}

/*
result info/count
*/
.md-search-result__meta {
  background-color: #EEEEEE !important;
}

/*
article preview text color
*/
.md-search-result__teaser {
  color: #BDBDBD !important;
}

/*
Abbr
*/
/* .md-typeset abbr {
    border-bottom: .08rem dotted rgba(255, 255, 255, 0.8);
    text-decoration: double;
    cursor: help;
} */

/* Test1 */
/* abbr[title] {
  position: relative;
  
//  ensure consistent styling across browsers
  text-decoration: underline dotted; 
}
abbr[title]:hover::after, 
abbr[title]:focus::after {
  content: attr(title);
  
  // position tooltip like the native one
  position: absolute;
  left: 0;
  bottom: -30px;
  width: auto;
  white-space: nowrap;
  
  // style tooltip
  background-color: #1e1e1e;
  color: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
  font-size: 14px;
  padding: 3px 5px;
} */

/* Test2 */
abbr[title]:after
{
   content: " (" attr(title) ")";
}

@media screen and (min-width: 960px)
{
   abbr[title]
   {
      border-bottom: .08rem dotted rgba(255, 255, 255, 0.8);
      cursor:help;
   }

   abbr[title]:after,
   abbr[title]:focus::after
   {
      content: "";
   }
}
.md-typeset abbr {
    border-bottom: .08rem dotted rgba(255, 255, 255, 0.8);
    text-decoration: none;
    cursor: help
}


/*
Tasklist
*/
.task-list-item {
  list-style-type: none !important;
}

.task-list-item input[type="checkbox"] {
  margin: 0 4px 0.25em -20px;
  vertical-align: middle;
}

.task-list-control {
  display: inline; /* Ensure label is inline incase theme sets it to block.*/
}

.task-list-control {
  position: relative;
  display: inline-block;
}

.task-list-control input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1; /* Put the input behind the label so it doesn't overlay text */
}

.task-list-indicator {
  position: absolute;
  top: -18px;
  left: -6px;
  display: block;
  width:  14px;
  height: 14px;
  border-radius: .25rem;
}

.md-typeset .task-list-control .task-list-indicator::before {
    position: absolute;
    top: -.1em;
    left: -1.5em;
    width: 1.25em;
    height: 1.25em;
    background-color: var(--md-default-fg-color--lightest);
    -webkit-mask-image: var(--md);
    mask-image: var(--md);
    content: "";
}

.md-typeset .task-list-control .task-list-indicator:before {
    top: 0 em;
    left: -20px;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    font-size: 1.25em;
    content: "\f1ce";
    vertical-align: -.25em;
}
.task-list-control input[type="checkbox"]:checked + .task-list-indicator::before {
  display: block;
  margin-top: 0px;
  top: 1.8px;
  margin-left: 0.5px;
  font-size: 18px;
  line-height: 1;
  content: "";
  color: #1EBB52;
}


/**** keys ****/
.md-typeset kbd {
    display: inline-block;
    padding: 0 .6666666667em;
    font-size: 0.8em;
    line-height: 1.5;
    vertical-align: text-top;
    word-break: break-word;
    border-radius: 0.2rem;
    box-shadow: 0 .1rem 0 .05rem var(--md-default-fg-color--lighter),0 .1rem 0 var(--md-default-fg-color--lighter),inset 0 0.78rem 0.1rem var(--md-default-bg-color);
}



/***
tabs
***/

.md-typeset .tabbed-set {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  /* border: 1px solid #EEEEEE; */
}

.md-typeset .tabbed-set .highlight {
  background: #ddd;
}

.md-typeset .tabbed-set .tabbed-content {
  display: none;
  order: 99;
  width: 100%;
  padding 1 1em;
}

.md-typeset .tabbed-set label {
  width: auto;
  margin: 0 0.5em;
  color: darkgray;
  padding: 0.25em;
  font-size: 120%;
  cursor: pointer;
  border-bottom: .1rem solid;
}

.md-typeset .tabbed-set input {
  position: absolute;
  opacity: 0;
}

.md-typeset .tabbed-set input:nth-child(n+1) {
  color: #333333;
}

.md-typeset .tabbed-set input:nth-child(n+1):checked + label {
    color: #FF5252;
}

.md-typeset .tabbed-set input:nth-child(n+1):checked + label + .tabbed-content {
    display: block;
}
