/* display external links with icon */
div.md-content a[href^="http://"]:not([href*="sm26.gitlab.io"]):after,
div.md-content a[href^="https://"]:not([href*="sm26.gitlab.io"]):after,
div.md-content a[href^="//"]:not([href*="sm26.gitlab.io"]) {
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    content: "\f35d";
    font-style: normal;
    font-size: 70%;
    vertical-align: top;
    display: inline-block;
    text-decoration: none;
    padding-left: 3px;
}

/************* size overrides ************/
.card.tiny,img.tiny { width:35px !important}
.card.xsmall,img.xsmall { width:80px !important}
.card.small,img.small { width:150px !important}
.card.medium,img.medium { width:210px !important}
.card.large,img.large { width:300px !important}
.card.xlarge,img.xlarge { width:450px !important}
.card.big,img.big { width:600px !important}
div.pct100, .card.pct100,img.pct100 { width:100% !important}
div.pct20,.card.pct20,img.pct20 { width:20% !important}
div.pct33,.card.pct33,img.pct33 { width:33% !important}
div.pct45,.card.pct45,img.pct45 { width:45% !important}
div.pct50,.card.pct50,img.pct50 { width:50% !important}
div.pct66,.card.pct66,img.pct66 { width:66% !important}
div.pct80,.card.pct80,img.pct80 { width:80% !important}
/************* END size overrides ************/


.center{
  /*margin-left: auto;
  margin-right: auto;
  display: block;*/
  display:table;
	margin:0 auto;
}
.center-all{
  /*margin-left: auto;
  margin-right: auto;
  display: block;*/
  display:table;
  margin:0 auto;
  text-align: center;
}
.center-content > p{
  text-align: center;
}
.center-content > div:not(.highlight):not(.admonition):not(.codehilite){
  text-align: center;
}
.center-content ul{
  display:table;
	margin-right:auto;
  margin-left:auto;
}
.center-content li{
  text-align: left;
}

// in order to display SVG properly, a white background is needed.
.img {
    background: white;
}
img {
    background: white;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
