{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <!-- <link rel="stylesheet" href="{{ base_url }}/css/404.css"> -->
{% endblock styles %}

{% block content %}
<h1>Error 404</h1>
<p>The page you're loking for can't be found</p>  


  <h1>Sometimes you find yourself in the middle of nowhere, and sometimes in the middle of nowhere you find yourself.</h1>
<p>this time you are in the middle of nowhere though</P>

  {% endblock %}
